---
layout: default
---

<style>
/* Default style: highlight all h2, h3, and h4 headers in lightcoral */
h2, h3, h4 {
background-color: lightcoral;
padding: 5px;
border-radius: 5px;
}


/* If inside <f>, remove highlight */
f h2, f h3, f h4 {
background-color: transparent !important;
padding: 0;
border-radius: 0;
}


/* If <f> appears inline within text, clear highlight of that portion */
f {
background-color: transparent !important;
color: inherit !important;
padding: 0 !important;
border-radius: 0 !important;
}
  </style>

<div style="line-height:1.6">
<div class="additional-content">
  
  <h1 style="font-size:30px">{{ page.title }}</h1>

    {{ content }}

</div>
</div>
