---
layout: default
---

<div style="line-height:1.6">
    

        <div class="additional-content">

<h1 style="font-size:30px">Welcome</h1>
            
           <p>This is a space where I examine various topics in the social sciences and whatever else I find interesting. I'm interested in attaining a holistic understanding of society through integrating both biological and environmental explanations in a culturally neutral manner. My hope is for my writings and related activities to inspire and foster the creation of academic spaces and institutions where knowledge can be pursued in a more effective manner than it is currently being done.</p>
  
<references />

          
    </div>

        <div class="content-container">
            <div class="left-column">
                <h2>Start Here</h2>

     <p>Here you can find my more meta-political articles which outline the general philosophy I'm trying to develop as well as potential strategy to achieve said aims.</p>

<ul style="font-size: 14px">
  <span style="color:lightcoral"><li>[[Coming Soon]]</li></span>
</ul>      

            </div>
            <div class="right-column">
                <h2>Additional Content</h2>
                <p><b>Topics</b> • [[Race]] • [[Gender]] • [[Academia]] • [[Economics]] • [[Psychology]]</p>
            </div>
        </div>
</div>
