---
layout: default
---


    

        <div class="additional-content">
        <p>Hello</p>
            <h2>Additional Content</h2>
            <h3>Subsection</h3>
            <h4>Smaller Subsection</h4>
            <p>This is where more information can be added below the columns.This is where more information can be added below the columns.This is where more information can be added below the columns.This is where more information can be added below the columns.This is where more information can be added below the columns.This is where more information can be added below the columns.This is where more information can be added below the columns.This is where more information can be added below the columns.This is where more information can be added below the columns.This is where more information can be added below the columns.</p>
  
  <h2>References</h2>
  
<references />

          
    </div>

        <div class="content-container">
            <div class="left-column">
                <h2>Welcome</h2>
                <p>Hello! This website acts as a sort-of base of operations as I continue my intellectual journey. Here you can find articles and research on issues relating to philosophy and politics written from my own perspective on things. I tend to come at things from an anti-institutional perspective, holding that modern institutions have neglected rationality and empiricism in favor of an overemphasis on biased moral foundations. This ultimately renders the dominant ideological forces within our society as reactionary, in spite of their proclaimed "progressive" foundations. I believe that the knowledge produced and disseminated through our institutions ultimately shapes our broader civilization. Instead of simply reacting negatively to the existing sociopolitical predicament we find ourselves within, I believe in a positive vision of decentralized knowledge-producing institutions which prioritize the pursuit of truth, and organize themselves to pursue that goal.</p>
                <p>This website also contains a number of links to other research bases or resources that I may find educational to read through myself at some point. Some of these are simply websites that I want to look through at some point, but others are research bases which have an explicit ideological position. My posting of it here does not imply that I support the perspective expressed in the resource.</p>
                <p style="font-size:12px">This is where more information can be added below the columns.This is where more information can be added below the columns.This is where more information can be added below the columns.This is where more information can be added below the columns.This is where more inThis is where more information can be added below the columns.This is where more information can be added below the columns.This is where more information can be added below the columns.This is where more information can be added below the columns.This is where more inThis is where more information can be added below the columns.This is where more information can be added below the columns.This is where more information can be added below the columns.This is where more information can be added below the columns.This is where more in</p>
            </div>
            <div class="right-column">
                <h2>Featured Content</h2>
                <p>Highlighted articles, blog posts, or research topics.</p>
            </div>
        </div>
